/* soft reset do css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-shadow: 5px 2px 4px black;
}

body {
  background: #000009;
  background-size: auto 100vh;
  font-family: 'Patrick Hand', cursive;
  height: 100vh;
  font-size: 12px;
  color: thistle;
}

.home .tela{
  margin-top: 5em;
  height: 90vh;
  align-content: center;  
    
}

.tela{
  border-top: 3px solid purple;
  border-left: 3px solid purple;
  border-right: 3px solid purple;
  padding: 2.5em;
  padding-top: 0;
  padding-right: 0;
  margin: 2em;
  margin-top: 5em;
  margin-bottom: 5em;
  height: 90vh;
}

.titulo {
  text-align: center;
  align-content: center;
}

#aaa{
  height: 8em;
}

@media(min-width: 360px){
  .tela{
    margin: 1.5em;
    margin-bottom: 2em;
    padding: 1em;
    padding-top: 0;
    padding-right: 0;
  }

  h1{
    font-size: 2em;
    text-align: center;
  }
}



@media (min-width: 560px) {
  .codigos {
    grid-template-columns: 240px;
  }
  .tela{
    margin: 2em;
    padding: 1.5em;
    padding-top: 0;
    padding-right: 0;
    
  }

  h1{
    font-size: 2em;
    text-align: start;
  }
}

@media (min-width: 666px) {
  .codigos {
    grid-template-columns: 240px 240px;
  }
  .tela{
    margin: 2em;
    padding: 1.5em;
    padding-top: 0;
    padding-right: 0;
  }

  h1{
    font-size: 2em;
    text-align: start;
  }
}

@media (min-width: 880px) {
  .codigos {
    grid-template-columns: repeat(2, 240px);
    justify-content: space-around;
    height: calc(100vh - 8em - 48px);
  }
  .tela{
    margin: 2em;
    padding: 2.5em;
    padding-top: 0;
    padding-right: 0;
  }

  h1{
    font-size: 2em;
    text-align: start;
  }
}

@media (min-width: 964px) {
  .codigos {
    grid-template-columns: repeat(3, 240px);
    justify-content: space-around;
    height: calc(100vh - 8em - 48px);
  }
  .tela{
    margin: 2em;
    padding: 2.5em;
    padding-top: 0;
    padding-right: 0;
  }

  h1{
    font-size: 2em;
    text-align: start;
  }
}


.icones{
  color: purple;
  width: 100%;
  text-align: end;
  font-weight: 900;
  font-size: xx-large;
}

/* se a tela tiver pelo menos 400px vai carregar estes estilos */
@media (min-width: 400px) {
  body {
    font-size: 14px;
  }
}

/* breakpoint */
@media (min-width: 600px) {
  body {
    background-attachment: fixed;
    background-size: cover;
    font-size: 18px;
  }
}

/* breakpoint */
@media (min-width: 1200px) {
  body {
   
    font-size: 20px;
  }
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background-color: rgba(136, 46, 163, 0.403);
  border-color: black;
  border-style: solid;
  border-width: 5px;
  border-top: none;
  position: fixed;
  width: 90vw;
  top: 0;
  z-index: 1;
  border-radius: 0px 0px 500px 500px;
  font-family: 'VT323', monospace;
  font-size: x-large;
}

.menu ul {
  display: flex;
  justify-content: space-around;
}

.menu li {
 list-style: none; 
}

.menu a {
  display: block;
  padding: 10px 20px;
  color: whitesmoke;
  transition: background-color .5s, color .5s, font-size .5s;
}

.menu a:active,
.menu a:hover {
  background-color: rebeccapurple;
  font-size:xx-large;
}

a {
  font-weight: 900;
  font-size: larger;
  text-decoration: none;
  color: thistle;
}

a:hover {
  text-decoration: underline;
  color: paleturquoise;
}

.site-subtitle, 
.site-title {
  text-align: center;
}

.site-title {
  font-size: 4em;
  font-weight: 900;
  font-family: 'VT323', monospace;
}

.site-subtitle {
 font-family: 'Fira Code', monospace;
 line-height: 1.8em;
}

h2::after {
  content: '_';
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 5px;
  opacity: 1;
  animation: pisca .7s infinite;
  
 }
 @keyframes pisca {
   0%, 100%{
     opacity: 1;
   }
   50%{
     opacity: 0;
   }
 }

.sobre,
.contato,
.portfolio {
  height: 100vh;
}

@media (min-width: 1200px) {
  .container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
  }
}

.sobre h2,
.contato h2,
.portfolio h2 {
  font-family: 'VT323', monospace;
  margin-bottom: .5em;
  font-size: 3em;
}

.sobre p,
.sobre ul {
  margin: 1.5em;
  text-align: justify;
  list-style: '>>>';
  text-indent: .7em;
  font-family: 'Fira Code', monospace;
}
.sobre p{
  margin-top: 10em;
}

.sobre a {
  color: thistle;
  text-decoration: underline;
}

.sobre a:hover {
  text-decoration: none;
  color: paleturquoise;
}

.portfolio .grid {
  display: grid;
  gap: 2em;
}

@media (min-width: 560px) {
  .portfolio .grid {
    grid-template-columns: 240px 240px;
  }
}

@media (min-width: 880px) {
  .portfolio .grid {
    grid-template-columns: repeat(3, 260px);
    align-content: center;
    justify-content: center;
    height: calc(100vh - 8em - 48px);
  }
}


.portfolio figure {
  text-align: center;
}

.img-portfolio {
  height: 180px;
  width: 100%;
  object-fit: cover;
  object-position: left bottom;
  border-radius: 25px;
}
 .portfolio a:hover{
  color: paleturquoise;
 }

 .img-portfolio:hover {
  border: 5px solid purple;
  border-radius: 25px;
}

.contato .icons {
  text-align: center;
}

.contato a {
  color: thistle;
  font-size: 4em;
  transition: text-shadow 500ms;
}

.contato a:active,
.contato a:hover  {
  text-decoration: none;
  text-shadow: 5px 5px 10px paleturquoise;
}